<main>
  <form class="product-form" action="/admin/add-product" method="POST">
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" name="product" id="title">
    </div>
    <button class="btn">Add product</button>
  </form>
</main>